<div class="album py-5">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="profile_lands">

      <% @profile_land.map { |profile_land| render profile_land.land } %>
         
      
    </div>
  </div>
</div>
<%= link_to "New land", new_land_path %>
