<div id="<%= dom_id favorite_land %>">
  <p>
    <strong>Profile:</strong>
    <%= favorite_land.profile_id %>
  </p>

  <p>
    <strong>Land:</strong>
    <%= favorite_land.land_id %>
  </p>

</div>
