<h1>Editing favorite land</h1>

<%= render "form", favorite_land: @favorite_land %>

<br>

<div>
  <%= link_to "Show this favorite land", @favorite_land %> |
  <%= link_to "Back to favorite lands", favorite_lands_path %>
</div>
