<!-- Home image -->
  <section>
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                <h1 class="fs-2 fw-bold text-pink mt-5">Somos uma empresa de Imóveis</h1>
                <p class="col-md-8 fs-5 text-primary-emphasis">
                Em resumo, uma empresa de imóveis é uma organização que desempenha 
                um papel crucial no mercado imobiliário, conectando compradores e 
                vendedores ou locadores e inquilinos, facilitando a realização de 
                negócios imobiliários com sucesso. 
                </p>
                <a href="#contactos">
                    <button class="btn btn-pink btn-lg" type="button" id="#contactos">
                        Entrar em contacto connosco
                    </button>
                </a>
            </div>

            <div class="col">
                <%= image_tag("home.png", alt: "adicionatec") %>
            </div>
        </div>  
    </div>
  </section>
   <!-- And of Home image -->

  <%= render 'layouts/filter' %>
