<div id="<%= dom_id favorite_house %>">
  <p>
    <strong>Profile:</strong>
    <%= favorite_house.profile_id %>
  </p>

  <p>
    <strong>House:</strong>
    <%= favorite_house.house_id %>
  </p>

</div>
