<h1>Editing favorite house</h1>

<%= render "form", favorite_house: @favorite_house %>

<br>

<div>
  <%= link_to "Show this favorite house", @favorite_house %> |
  <%= link_to "Back to favorite houses", favorite_houses_path %>
</div>
