   <!-- filters-->
   <section class="container">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-body">
          <div class="card-title">
              <h4 class="text-center text-pink">Filtrar por</h4>
          </div>
          <div class="row my-2">
            <div class="col">
              <div class="mb-3">
                  <input type="text" class="form-control"  placeholder="Pesquisar por: Titulo">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                  <input type="number" class="form-control"  placeholder="Quartos">
              </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <input type="number" class="form-control"  placeholder="Preço do ímovel">
            </div>
          </div>

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Estado do imovel</option>
                            <option value="1">Acabado</option>
                            <option value="2">Acabado não reformado</option>
                            <option value="3">Inacabado</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tipologia</option>
                            <option value="1">T1</option>
                            <option value="2">T2</option>
                            <option value="3">T3</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                      <select class="form-select" aria-label="Default select example">
                          <option selected>O que vaz fazer com o imovel</option>
                          <option value="1">Arrendar mensalmente</option>
                          <option value="1">Arrendar mensalmente de forma compartilhada</option>
                          <option value="2">Arrendar diariamente (24h)</option>
                          <option value="3">Vender</option>
                      </select>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <select class="form-select" aria-label="Default select example">
                      <option selected>Província</option>
                      <option value="1">Luanda</option>
                      <option value="2">Benguela</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <select class="form-select" aria-label="Default select example">
                      <option selected>Municipio / Cidade</option>
                      <option value="1">Belas</option>
                      <option value="2">Rangel</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 d-grid gap-2">
                <button class="btn btn-pink">Pesquisar</button>
              </div>
              <div class="mb-3 d-grid gap-2">
                <button class="btn btn-pink">Pesquisar por filtros avançados</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End filters-->